{% extends "@ModuleAutoUpgrade/components/render-field.html.twig" %}

{% block action_content %}
  <div class="render-field__switch">
    <span class="ua-switch">
      <input
        class="ua-switch__input"
        type="checkbox"
        name="{{ BoolName }}"
        id="{{ BoolId }}"
        {{ val ? 'checked' : '' }}
      />

      <label for="{{ BoolId }}" class="ua-switch__label">
        <span class="ua-switch__slider"></span>
        <span class="ua-switch__yes">
          {{ 'Yes'|trans }}
        </span>
        <span class="ua-switch__no">
          {{ 'No'|trans }}
        </span>
      </label>
    </span>
  </div>
{% endblock %}
