<section id="autoupgradePhpWarn" class="panel widget">
  <div class="panel-heading">
    <span class="icon-stack text-danger">
      <span class="icon icon-circle icon-stack-2x"></span>
      <strong class="icon-stack-1x icon-stack-text">1</strong>
    </span>
    {{ 'PHP Version notice'|trans({}) }}


    <span class="panel-heading-action">
      <a class="list-toolbar-btn" href="{{ ignore_link }}" title="Ignore">
        <i class="process-icon-close"></i>
      </a>
    </span>
  </div>

  <p class="text-muted text-center">
    <i id="autoupgradePhpWarningMainIcon" class="icon-history icon-flip-horizontal"></i>
  </p>

  <span>
    <p>{{ 'The PHP version your shop is running on is insecure.'|trans({}) }}</p>
    <p>{{ 'It reached its end-of-life, which means it won\'t get security updates anymore and projects will stop supporting it.'|trans({}) }}</p>
    <p>{{ 'Upgrading will keep your shop secured and performant.'|trans({}) }}</p>
  </span>

    <a class="btn btn-primary btn-block" href="{{ learn_more_link }}" target="_blank">
      <i class="icon-external-link"></i> {{ 'Learn more about PHP and upgrading'|trans({}) }}
    </a>
</section>
