<div id="channel-infos" ><br>
    {% if upgradeInfo.branch is not empty %}
        <div class="row">
            <div class="col-xs-3 col-md-1">
                <label class="label-small">{{ 'Branch:'|trans }}</label>
            </div>
            <div class="col-xs-9 col-md-11">
                <span class="available">
                    <img src="../img/admin/{% if upgradeInfo.available is not empty %}enabled{% else %}disabled{% endif %}.gif">
                    {% if upgradeInfo.available is not empty %}
                        {{ 'Available'|trans({}, 'Admin.Global') }}
                    {% else %}
                        {{ 'Unavailable'|trans({}, 'Admin.Global') }}
                    {% endif %}
                </span>
            </div>
        </div>
    {% endif %}
    <div class="all-infos">
        {% if upgradeInfo.version_name is not empty %}
            <div class="row">
                <div class="col-xs-3 col-md-1">
                    <label class="label-small">{{ 'Name:'|trans({}, 'Admin.Global') }}</label>
                </div>
                <div class="col-xs-9 col-md-11">
                    <span class="name">{{ upgradeInfo.version_name }}</span>
                </div>
            </div>
        {% endif %}
        {% if upgradeInfo.version_num is not empty %}
            <div class="row">
                <div class="col-xs-3 col-md-1">
                    <label class="label-small">{{ 'Version number:'|trans }}</label>
                </div>
                <div class="col-xs-9 col-md-11">
                    <span class="version">{{ upgradeInfo.version_num }}</span>
                </div>
            </div>
        {% endif %}
        {% if upgradeInfo.link is not empty %}
            <div class="row">
                <div class="col-xs-3 col-md-1">
                    <label class="label-small">{{ 'URL:'|trans }}</label>
                </div>
                <div class="col-xs-9 col-md-11">
                    <a class="url" href="{{ upgradeInfo.link }}">{{ upgradeInfo.link }}</a>
                </div>
            </div>
        {% endif %}
        {% if upgradeInfo.md5 is not empty %}
            <div class="row">
                <div class="col-xs-3 col-md-1">
                    <label class="label-small">{{ 'MD5 hash:'|trans }}</label>
                </div>
                <div class="col-xs-9 col-md-11">
                    <span class="md5">{{ upgradeInfo.md5 }}</span>
                </div>
            </div>
        {% endif %}
        {% if upgradeInfo.changelog is not empty %}
            <div class="row">
                <div class="col-xs-3 col-md-1">
                    <label class="label-small">{{ 'Changelog:'|trans }}</label>
                </div>
                <div class="col-xs-9 col-md-11">
                    <a class="changelog" href="{{ upgradeInfo.changelog }}">{{ 'see changelog'|trans }}</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-3 col-md-1">
                <label class="label-small">{{ 'PHP compatibility:'|trans }}</label>
            </div>
            <div class="col-xs-9 col-md-11">
                <span class="phpcompatibility">{{ 'Your PHP version must be compatible with both your current PrestaShop version and the one you want to upgrade to.
                    For example, if your current version is 1.6.1.x and you want to upgrade to 1.7.8, only the PHP 7.1 would be compatible with both.'|trans }}
                </span>
                <table class="table-striped">
                <thead>
                    <tr>
                    <th style="background:#fff;"></th>
                    <th colspan="12" style="text-align:center" class="phpversion">PHP Version</th>
                    </tr>
                    <tr class="h-version-titles">
                    <th>PrestaShop Version</th>
                    <th>≤&nbsp;5.1</th>
                    <th>5.2</th>
                    <th>5.3</th>
                    <th>5.4</th>
                    <th>5.5</th>
                    <th>5.6</th>
                    <th>7.0</th>
                    <th class="target target-col" style="text-align:center">7.1 <p class="green">Required</p></th>
                    <th>7.2</th>
                    <th>7.3</th>
                    <th>7.4</th>
                    <th>8.0</th>
                    <th>≥&nbsp;8.1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="target"> >= 1.6.1.18 <br><span class="autoupgrade-green">Current</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target target-col targeted"><span class="sr-only">Yes</span><i class="icon-check-circle autoupgrade-white" title="Yes"></i></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                    </tr>
                    <tr>
                        <td>1.7.0 ~ 1.7.3</td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target-col"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                    </tr>
                    <tr>
                        <td>1.7.4</td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target-col"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                    </tr>
                    <tr>
                        <td>1.7.5 ~ 1.7.6</td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target-col"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                    </tr>
                    <tr>
                        <td>1.7.7</td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-yes target-col"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                    </tr>
                    <tr>
                        <td class="target">1.7.8 <br><span class="autoupgrade-green">Wanted</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-yes target target-col targeted"><span class="sr-only">Yes</span><i class="icon-check-circle autoupgrade-white" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes target"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                        <td class="support-no target"><span class="sr-only">No</span></td>
                    </tr>
                    <tr>
                        <td>8.0</td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-yes"><span class="sr-only">Yes</span><i class="icon-check-circle" title="Yes"></i></td>
                        <td class="support-no"><span class="sr-only">No</span></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
