<div id="postRestoreChecklist" style="display: none; margin-top: 10px;">
    <div class="alert alert-success">
        <div style="display: flex;">
            <div>
                <div style="font-weight: bold;">
                    {{ 'Your restoration is complete'|trans({}) }}
                </div>
                {{ 'Before continuing with your tasks, please review the following checklist to ensure smooth operation after recent recovery.'|trans({}) }}
            </div>
            <div style="margin-left: auto">
                <a class="btn btn-primary" target="_blank" href="https://devdocs.prestashop-project.org/8/basics/keeping-up-to-date/upgrade-module/post-restore-checklist/">
                    <i class="material-icons" style="font-size: 18px; margin-right: 4px;">
                        launch
                    </i>
                    {{ 'Open developer documentation'|trans({}) }}
                </a>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            {{ 'Next steps'|trans({}) }}
        </div>
        <ul>
            <li>{{ 'Disable the maintenance mode in General settings > Maintenance.'|trans({}) }}</li>
        </ul>
    </div>

    <div class="panel">
        <div class="panel-heading">
            {{ 'Troubleshooting'|trans({}) }}
        </div>
        <ul>
            <li>{{ 'If you can\'t access your back office, try emptying the cache.'|trans({}) }}</li>
        </ul>
    </div>
</div>
